<div class="commonFoot">
    <div class="son" routerLink="">
        <i class="iconfont icon-shouye"></i>
        <p>首页</p>
    </div>
    <div class="son" routerLink="../mapdepot">
        <i class="font2 iconfont icon-tuku2"></i>
        <p>图库</p>
    </div>
    <div class="son" routerLink="../search">
        <i class="iconfont icon-sousuo"></i>
        <p>找公司</p>
    </div>
    <div class="son" routerLink="../mine">
        <i class="iconfont icon-profile"></i>
        <p>我的</p>
    </div>
</div>