<div id="slideshow">
<!--		<div class="show">-->
		<el-carousel height="4.48rem">
		  	<el-carousel-item *ngFor="let item of ['1','2','3','4']">
		    	<div class="small">
		      		<img src="../../../assets/img/nav{{item}}.png"/>
		    	</div>
		  	</el-carousel-item>
		</el-carousel>
		<!--<el-carousel height="4.48rem" arrow="always">
		  	<el-carousel-item *ngFor="let item of ['1','2','3','4']">
		    	<div class="small">
		      		<img src="../../../assets/img/nav{{item}}.png"/>
		    	</div>
		 	 </el-carousel-item>
		</el-carousel>-->
</div>