<div id="select">
		<ul>
			<li>
				<a routerLink="/homedesign">
					<img src="../../../assets/img/project1.png" alt="" />
					<p>户型设计</p>
				</a>
			</li>
			
		</ul>
		<ul>
			<li>
				<img src="../../../assets/img/project2.png" alt="" />
				<p>智能报价</p>
			</li>
		</ul>
		<ul>
			<li>
				<a routerLink="/boutique">
					<img src="../../../assets/img/project3.png" alt="" />
					<p>精品专题</p>
				</a>
			</li>
		</ul>
		<ul>
			<li routerLink="search">
				<img src="../../../assets/img/project4.bmp" alt="" />
				<p>装修公司</p>
			</li>
		</ul>
</div>
